@using Abogado.Application.UsersServices.GetUserId
@model GetUserIdDTO

@if (TempData.ContainsKey("Excepcion"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewData["Excepcion"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@using (Html.BeginForm("EditUser", "Users"))
{
    <form>
        <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Nombre</label>
                    <input type="text" id="form6Example1" name="Name" value="@Model.Name" class="form-control" required />
                    <input type="hidden" id="form6Example1" name="UserId" value="@Model.Id" class="form-control" />
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example2">Apellido</label>
                    <input type="text" id="form6Example2" name="LastName" value="@Model.Lastname"  class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <label class="form-label" for="form6Example1">Correo</label>
                    <input type="email" id="form6Example1" name="Email"  value="@Model.Email" class="form-control" required />
                </div>
            </div>
        </div>
         <button type="submit" class="btn btn-primary" >Editar</button>
    </form>
}
