@using Abogado.Application.UsersServices.GetAllUsersByName
@model List<GetAllUsersByNameDTO>

@if (User.IsInRole("abogado"))
{
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Users")'">Crear Usuario</button>
}

@if (User.IsInRole("abogado") || User.IsInRole("aux"))
{
    @using (Html.BeginForm("GetUsersByName", "Users"))
    {
        <div class="input-group">
            <input type="search" class="form-control rounded" name="filterName" placeholder="Search" aria-label="Search" aria-describedby="search-addon" required />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Role</th>
            <th>
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Meetings")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var modelAux in Model)
                {
                    <tr>
                        <td>@modelAux.Name</td>
                        <td>@modelAux.Lastname</td>
                        <td>@modelAux.Email</td>
                        <td>@modelAux.Role.ToString()</td>
                        @if (User.IsInRole("abogado"))
                        {
                            <td><a class="btn btn-primary" href="~/Users/Edit/@modelAux.Id">Editar</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
