@using Abogado.Application.UsersServices.GetAllUsersByName
@model List<UsersVM>

@if (User.IsInRole("abogado"))
{
    <button class="btn btn-primary mb-2" onclick="location.href='@Url.Action("Register", "Users")'">Crear Usuario</button>
}

@if (User.IsInRole("abogado") || User.IsInRole("aux"))
{
    @using (Html.BeginForm("GetUsersByName", "Users"))
    {
        <div class="input-group">
            <input type="search" class="form-control rounded" name="filterName" placeholder="Search" aria-label="Search" aria-describedby="search-addon" required />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Role</th>
            <th>Reuniones</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var modelAux in Model)
                {
                    <tr>
                        @if (modelAux.Meetings.Count == 0)
                        {
                            <td>@modelAux.Name</td>
                            <td>@modelAux.Lastname</td>
                            <td>@modelAux.Email</td>
                            <td>@modelAux.Role.ToString()</td>
                        }
                        else
                        {
                            var countRows = modelAux.Meetings.Count + 1;

                            <td rowspan="@countRows">@modelAux.Name</td>
                            <td rowspan="@countRows">@modelAux.Lastname</td>
                            <td rowspan="@countRows">@modelAux.Email</td>
                            <td rowspan="@countRows">@modelAux.Role.ToString()</td>
                        }

                        @if (modelAux.Meetings.Count == 0)
                        {
                            <td>-------</td>
                            @if (User.IsInRole("abogado"))
                            {
                                <td><a class="btn btn-primary" href="~/Users/E dit/@modelAux.Id">Editar</a></td>
                            }
                        }

                        @for (var i = 0; i < modelAux.Meetings.Count; i++)
                        {
                        <tr>
                            <td>@modelAux.Meetings.ElementAt(i).Date</td>
                                @if (i == 0)
                                {
                                    @if (User.IsInRole("abogado"))
                                    {
                                    <td><a class="btn btn-primary" href="~/Users/E dit/@modelAux.Id">Editar</a></td>
                                    }
                                }
                        </tr>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>
