@using Abogado.Application.CasesServices.GetAllCasesByUser
@model List<CaseVM>

@if (TempData.ContainsKey("Excepcion"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["Excepcion"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (User.IsInRole("abogado"))
{
    <button class="btn btn-primary mb-2" onclick="location.href='@Url.Action("Register", "Cases")'">Crear Caso</button>
}

@if (User.IsInRole("abogado") || User.IsInRole("aux"))
{
    @using (Html.BeginForm("GetCases", "Cases"))
    {
        <div class="input-group">
            <input type="search" class="form-control rounded" name="filterName" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre del Caso</th>
            <th>Descripcion</th>
            <th>Fecha Inicial</th>

            @if (Model != null)
            {
                @if (Model.TrueForAll(x => x.Users.Count != 0))
                {
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                    <th></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var modelAux in Model)
                {
                    if (modelAux != null)
                    {

                        <tr>
                            <td>@modelAux.CaseName</td>
                            <td>@modelAux.Description</td>
                            <td>@modelAux.StartDate</td>

                            @foreach (var item in modelAux.Users)
                            {
                                <td>@item.Name</td>
                                <td>@item.Email</td>
                                <td>@item.Role</td>
                            }
                            @if (modelAux.Users.Count != 0 && modelAux.Users.Count < 2)
                            {
                                <td>-------</td>
                                <td>-------</td>
                                <td>-------</td>
                            }
                            @if (User.IsInRole("abogado"))
                            {
                                @if (modelAux.Users.Count == 2)
                                {
                                    <td><a class="btn btn-primary" href="~/Cases/Edit/@modelAux.Id">Editar</a> </td>
                                    <td><a class="btn btn-primary" href="~/Cases/GetCasesNested/@modelAux.Id">Casos</a> </td>
                                }
                                else if (modelAux.Users.Count > 0)
                                {
                                    <td><a class="btn btn-primary" href="~/Cases/Edit/@modelAux.Id">Editar</a> </td>
                                    <td><a class="btn btn-primary" href="~/Cases/AssingCaseView/@modelAux.Id">Asignar</a> </td>
                                }

                                <th scope="row">
                                    <a class="btn btn-outline-info"
                   asp-area=""
                   asp-controller="Cases"
                   asp-action="DownloadFile"
                   asp-route-CasoId="@modelAux.Id">descargar</a>
                                </th>
                            }
                        </tr>
                    }
                }
            }
        }
    </tbody>
</table>
