@using Abogado.Application.UsersServices.GetAllUsersByName
@using System.Security.Claims
@model List<GetAllUsersByNameDTO>

<!--Barra de Busqueda-->
@using (Html.BeginForm("GetUsers", "Meetings"))
{
    <div class="input-group">
        <input type="search" class="form-control rounded" name="filterName" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <input type="hidden" name="meetingId" value="@ViewData["Id"]"></input>
        <button type="submit" class="btn btn-outline-primary">search</button>
    </div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Role</th>
            <th>
                @ViewData["Id"]
                <button class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Meetings")'">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                    </svg>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            IEnumerable<GetAllUsersByNameDTO> usersFilter;
            if (Model != null)
            {
                if (User.IsInRole("abogado") || User.IsInRole("cliente"))
                {
                    usersFilter = Model.Where(x => x.Role.ToString() != User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value);
                }
                else
                {
                    usersFilter = Model;
                }
                foreach (var modelAux in usersFilter)
                {
                    <tr>
                        <td>@modelAux.Name</td>
                        <td>@modelAux.Lastname</td>
                        <td>@modelAux.Email</td>
                        <td>@modelAux.Role.ToString()</td>
                        <td>
                            @ViewData["Id"]
                            @using (Html.BeginForm("AssignUser", "Meetings"))
                            {
                                <form>
                                    <input type="hidden" id="form6Example1" name="userId" value="@modelAux.Id" class="form-control" required />
                                    <input type="hidden" id="form6Example1" name="meetingId" value=@ViewData["Id"] class="form-control" required />
                                    <button type="submit" class="btn btn-primary  mb-4 col-12 ">Asignar</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
