<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Crear Cita</button>
<button class="btn btn-primary" onclick="location.href='@Url.Action("Get(@Url.Content(User.Identity.Name))" + @Url.Content(User.Identity.Name), "Meetings")'">Actualizar Tabla</button>
<form action="/Users/Get(@User.Identity.Name)">wer</form>
<button type="submit" action="/Users/Get(@User.Identity.Name)">Actualizar</button>

<form asp-page-handle="Get" asp-route-id="@User.Identity.Name" method="Get">
    <button class="btn btn-default">Actualizar</button>
</form>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Register", "Meetings"))
                {
                    <form asp-action="Register">
                        <label for="date">Fecha</label>
                        <input id="date" name="date" class="form-control" type="datetime-local" />
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-primary">Crear</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Fecha</th>
        </tr>
    </thead>
</table>

