@using Abogado.Application.MeetingServices.GetAllMeetingsByUserId
@using Abogado.Application.MeetingServices.GetMeetingById
@using Abogado.Domain.Entities
@using System.Security.Claims
@model List<MeetingsUsersVM>

@{
    void RenderUsers(MeetingsUsersVM meetingsUsersVM)
    {
        var user = meetingsUsersVM.Users.Find(
            x => x.Role.ToString() != User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value);

        if (user != null)
        {
            <td>@user.Name</td>
            <td>@user.Lastname</td>
            <td>@user.Email</td>
            <td>@user.Role</td>
        }
        else
        {
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        }
    }

    void RenderHeaderTable()
    {
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Rol</th>
    }

    void RenderEmptyColumns()
    {
        <td>----</td>
        <td>----</td>
        <td>----</td>
        <td>----</td>
    }
}

@if (TempData.ContainsKey("Excepcion"))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewData["Excepcion"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<button class="btn btn-primary mb-2" onclick="location.href='@Url.Action("Crear", "Meetings")'">Crear Cita</button>

<!--Barra de Busqueda-->
@if (User.IsInRole("aux"))
{
    @using (Html.BeginForm("GetMeetingsByUserName", "Meetings"))
    {
        <div class="input-group">
            <input type="search" class="form-control rounded" name="name" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
    }
}

<table class="table table-striped">
    <thead>
        <tr>
            @if (User.IsInRole("abogado") || User.IsInRole("cliente"))
            {
                <th>Fecha Cita</th>
                RenderHeaderTable();
                <th></th>
            }
            else
            {
                <th>Fecha Cita</th>
                RenderHeaderTable();
                RenderHeaderTable();
                <th>
                </th>
            }

        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null)
            {
                foreach (var modelAux in Model)
                {
                    <tr>
                        <td>@modelAux.Date</td>
                        @if (User.IsInRole("abogado"))
                        {
                            RenderUsers(modelAux);
                            <td>
                                @if (modelAux.Users.Count == 2)
                                {
                                    <a class="btn btn-primary" href="~/Meetings/Edit/@modelAux.Id">Editar</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" href="~/Meetings/Edit/@modelAux.Id">Editar</a>
                                    <a class="btn btn-primary" href="~/Meetings/AssignUserView/@modelAux.Id">Asignar</a>
                                }
                            </td>
                        }
                        else if (User.IsInRole("cliente"))
                        {
                            RenderUsers(modelAux);
                            <td>
                                <a class="btn btn-primary" href="~/Meetings/Edit/@modelAux.Id">Editar</a>
                            </td>
                        }
                        else if (User.IsInRole("aux"))
                        {
                            @foreach (var user in modelAux.Users)
                            {
                                <td>@user.Name</td>
                                <td>@user.Lastname</td>
                                <td>@user.Email</td>
                                <td>@user.Role.ToString()</td>
                            }

                            @if (modelAux.Users.Count < 2)
                            {
                                RenderEmptyColumns();
                            }

                            <td>
                                @if (modelAux.Users.Count == 2)
                                {
                                    <a class="btn btn-primary" href="~/Meetings/Edit/@modelAux.Id">Editar</a>
                                }
                                else
                                {
                                    <a class="btn btn-primary" href="~/Meetings/Edit/@modelAux.Id">Editar</a>
                                    <a class="btn btn-primary" href="~/Meetings/AssignUserView/@modelAux.Id">Asignar</a>
                                }
                            </td>
                        }
                    </tr>
                }
            }
        }
    </tbody>
</table>

